* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

.display {
    text-align: center;
    border: 1px solid;
    margin: 36px 113px;
    /* height: 67px; */
    /* padding: 20px 0px 20px; */
    padding: 30px 36px;
}

