* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

.display {
    border: 1px solid;
    height: 100px;
    width: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
  display: flex;
  justify-content: center;
}

.form {
  margin-bottom: 200px;
}

.text-down{
  margin-top: 50px;
  margin-bottom: 50px;
}


@media screen and ( max-width : 400px) {
  
  .click1 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    height: 150px;
    width: 145px;
  }
  
  .click2 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 150px;
    width: 142px;
  }
}